<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title>Welcome Page</title>
</head>
<body>
    <div class="card mx-auto text-white bg-primary mb-3" style="width: 100%; height: 90px;">
        <h1 style="text-align: center; margin-top: 20px; font-family: 'Poppins', sans-serif;">Welcome Page</h1>
    </div>
    <div style="margin-top: 20px;"></div>
    <hr>
    <h3 style="text-align: center; margin-top: 20px; font-family: 'Poppins', sans-serif;">Welcome to Timerist's JSON api!</h3>
    <div style="display: flex; align-items: center; justify-content: center; margin-top: 10px;">
        <a href="https://github.com/TheEliteCoder1/Timerist/#settings-api" class="btn btn-danger" target="blank">Get Started</a>
    </div>
    <hr>
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</html>